:root {
    --mainText:black;
    --pText: rgb(75, 74, 74);
}

/* * {
    padding: 0;
    margin: 0;
} */

* {
    color: blue;
}

h1,h2 {
    color: var(--mainText);
}

p, li {
    color: var(--pText);
    
}

.heading {
    background-color: grey;
}